@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fafafa;
    font-size: 15px;
    font-family:"Roboto Light";
    text-align: left;
    font-weight: 400;
    line-heingt: 1.35;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    max-width: 100%;
}
.container{
    width: 1200px;
    float: none;
    margin: 0 auto;
}
.sidebar{
    float: left;
    width: 75%;
}
.one-col .content{
    width: 100%;
}
.three-col .content{
    width: 50%;
}